.figures {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rect1 {
    position: absolute;
    margin-left: 166px;
    z-index: 2;
}

.rect2 {
    position: absolute;
    margin-left: 118px;
    z-index: 2;
}

.circle1 {
    position: absolute;
    margin-left: 198px;
    z-index: 2;
}

.rect3 {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.rect4 {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.circle2 {
    position: absolute;
    bottom: 0;
    margin-left: 70px;
    z-index: 2;
}