.profile {
    position: fixed;
    right: 0;
    top: 0;
    width: 380px;
    height: 100%;
    background-color: #2C353D;
}

.title {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 36px;
    margin-left: 39px;
    color: #EEEEEE;
}

.setting {
    z-index: 3;
    position: absolute;
    top: 135px;
    right: 82px;
}

.aboutMe {
    z-index: 3;
    width: 300px;
    height: 628px;
    margin: 25% auto 0;
}

.aboutMe>* {
    margin: 0 auto 13px;
    z-index: 3;
}

.aboutMe>p {
    text-align: center;
}

.aboutMe>input {
    width: 100%;
    height: 40px;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: inherit;
    padding-left: 5px;
}

.fileUpload {
    display: block;
    width: 170px;
    height: 170px;
    cursor: pointer;
}

#inputAvatar {
    display: none;
}

.aboutMe_avatar {
    width: 170px;
    border: 50px;
    display: block;
}

.aboutMe_name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.aboutMe_mail {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #5063EE;
}

.aboutMe_telegram {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #828282;
}

.profile_btn {
    display: block;
    width: 271px;
    height: 53px;
    background-color: #5063EE;
    border-radius: 19px;
    border-width: 0;
    border-color: #5063EE;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 17px;
}

.signOut {
    margin-top: 13%;
}

.saveChange {
    margin-top: 13%;
}

.deleteAcc {
    background-color: #EB5757;
}

.modal {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    display: flex;
    flex-direction: column;
    width: 578px;
    height: 305px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 43px;
    border: 2px solid #5063EE;
    background-color: #1E252B;
}

.hide {
    display: none;
}
