.authModal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.authModalContent {
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  
}

.authInput {
  width: 40%;
  height: 30px;
  margin: 20px auto;
  background-color: #1e252b;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: inherit;
}

.authBtn {
    width: 100px;
    margin: 20px auto;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    background-color: #1e252b;
}
